.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);
    background-image:
        linear-gradient(90deg,
        #FFD32E 10px,
        #EEE 10px,
        #EEE 11px,
        transparent 11px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}

#query {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks {
    background: whitesmoke;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    margin-top: 35px;
    width: 350px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset 1px 1px 0 white;
    max-height: 450px;
}

.facultyInfo {
  padding: 5px;
  margin: 10px 0;
}

ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
}

#notebooks span {
    display: block;
    position: absolute;
    background: #FFD32E;
    bottom: -35px;
    left: -1px;
    width: 360px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}